.inc, .dec {
    border: 0;
    width: 150px;
    height: 50px;
    border-radius: 10%;
    background-color: darkmagenta;
    color: white;
    font-size: 15px;
}

.dec {
    background-color: red;
}

.inc:hover, .dec:hover {
    background-color: cadetblue;
}


.IncDec {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    top: 200px;
    left: 200px;
    min-width: 400px;
}