:root {
  --black: #1F1F1F;
  --gray: #39393b;
  --green: #b4fe17;
  --white: #fff;

}

*::before,
*::after {
  box-sizing: border-box;
}

* {
  box-sizing: border-box;
}

*ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

